<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Add Log</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
  <div class="container">
    <h2>Edit Log</h2>
    <form action="/edit_log/{{ log.id }}" method="post" enctype="multipart/form-data" class="mt-3">
      <div class="mb-3">
        <label class="form-label">Test id</label>
        <select name="test_id" class="form-select" value="{{ log.name }}" required>
          {% for t in tests %}
          <option value="{{ t.id }}">#{{ t.id }} - {{ t.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Mission</label>
        <select name="mission" class="form-select" value="{{ log.mission }}">
          <option value="">-</option>
          {% for m in missions %}
          <option value={{m}} {% if log.mission.value == m %}selected{% endif %}>{{m}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Vehicle</label>
        <select name="vehicle" class="form-select">
          <option value="">-</option>
          {% for v in vehicles %}
          <option value={{v}} {% if log.vehicle.value == v %}selected{% endif %}>{{v}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Type</label>
        <select name="log_type" class="form-select" value="{{ log.log_type }}">
          <option value="">-</option>
          {% for t in log_types %}
          <option value={{t}} {% if log.log_type.value == t %}selected{% endif %}>{{t}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Driver</label>
        <select name="driver" class="form-select" value="{{ log.driver }}">
          <option value="">-</option>
          {% for d in drivers %}
          <option value={{d}} {% if log.driver.value == d %}selected{% endif %}>{{d}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" name="description" class="form-control" value="{{ log.description }}">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</body>
</html>
